<!DOCTYPE html>
<html>
<head>
    <!--SEO-->
    <%- include common/head_commons.ejs %>

</head>
<body>

<!-- Container -->
<main class="container">

    <!-- Mobile Menu -->
    <%- include ./common/mobileMenu.ejs %>
    <!-- /Mobile Menu -->

    <!-- Header -->
    <header class="transition header">
        <div class="parallax aboutMeHeader">
            <div class="darker"></div>
        </div>
        <!-- Main menu -->
        <%- include ./common/menu.ejs %>
        <!-- /Main menu -->
        <div class="item-category">
            <h1>about</h1>
            <div class="border">
                <div></div>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!--Content-->
    <div class="content">

        <!-- Row -->
        <div class="row">
            <div class="col-md6 col-sm-6 col-xs-12">
                <img src="/images/about-me.jpg" alt="Image description"/>
            </div>
            <div class="col-md6 col-sm-6 col-xs-12">
                <h3>Bogdan Aleksandrov Photography</h3>
                <p>
                    Hi! My name is Bogdan Aleksandrov and I love photography. But you probably already knew that...
                    Currently living in Paris, I work as a software developer.
                    However, I am from Bulgaria <3 (very beautiful country, you should visit it !).
                </p>
                <p>
                    A few words about me ... I love my family and friends, I like to travel ... Actually I made this
                    site to share with you the way I see the world through my camera not to talk about myself. :)
                </p>
                <p>
                    So if you want to send me a message, you can <a href="/contact">contact me</a> or
                    just email me at aleksandrov.bogdan@gmail.com .
                </p>
                <p>
                    That's all, folks. Have a nice visit! :)
                </p>

            </div>

            <!--Social Icons-->
            <div class="social-icons col-md12 col-sm-12 col-xs-12 text-center">
                <h3>find me on:</h3>
                <a href="https://www.facebook.com/baleksandrov" class="btn facebook" title="Facebook" target="_blank">
                    <i class="fa fa-facebook-official fa-2x"></i>
                </a>
                <a href="https://500px.com/aleksandrovbogdan" class="btn px" title="500px" target="_blank">
                    <i class="fa fa-500px fa-2x"></i>
                </a>
            </div>
            <!--/Social Icons-->
        </div>
        <!-- /Row -->

        <!-- Footer -->
        <%- include ./common/footer.ejs %>

    </div>
    <!-- /Content -->
</main>
<!-- /Container -->

<!-- JS -->
<%- include ./common/javascript.ejs %>
<!-- Plugins -->
<script type="text/javascript" src="/js/website-smooth-scroll.min.js"></script>
<!-- Main js -->
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>