<!DOCTYPE html>
<html>
<head>
    <!--SEO-->
    <%- include common/head_commons.ejs %>
    <!--CSS Plugins-->
    <link rel="stylesheet" href="/css/photoswipe.min.css">
    <link rel="stylesheet" href="/css/default-skin/default-skin.css">

    <!--OG tags-->
    <meta property="og:url" content="<%= process.env.SITE_DOMAIN_FULL + '/album/' + album.name %>">
    <meta property="og:image" content="<%= process.env.SITE_DOMAIN_FULL + '/images/photos/' + album.selectedImg + '.jpg' %>"/>
    <meta name="twitter:image" content="<%= process.env.SITE_DOMAIN_FULL + '/images/photos/' + album.selectedImg + '.jpg' %>"/>
    <meta property="og:description" content="<%= album.subtitle %>">
    <meta name="twitter:description" content="<%= album.subtitle %>">
    <!-- /OG tags-->

    <meta name="keywords" content="album, gallery, galleries, photos, <%= album.title %>, <%= album.subtitle %>"/>

</head>
<body>

<!-- Container -->
<main class="container">

    <!-- Mobile Menu -->
    <%- include ./common/mobileMenu.ejs %>
    <!-- /Mobile Menu -->

    <!-- Header -->
    <header class="transition header">
        <div class="parallax" style="background-image: url(/images/headers/<%= album.name %>.jpg);">
            <div class="darker"></div>
        </div>
        <!-- Main menu -->
        <%- include ./common/menu.ejs %>
        <!-- /Main menu -->
        <div class="item-category">
            <h1><%= album.title %></h1>
            <p><%= album.subtitle %></p>
            <div class="border">
                <div></div>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!--Content-->
    <div class="content">

        <!-- Row-->
        <div class="masonry gallery row">
            <!--Col Size-->
            <% var colMd = 'col-md-' + 12 / album.templateColSize; %>
            <% var colSm = 'col-sm-' + 12 / album.templateColSize; %>

            <!-- Grid Item-->
            <% for (var i = 0; i < photos.length; i++) { %>
            <figure class="grid-item  <%= colMd %> <%= colSm %> col-xs-12">
                <a href="<%= process.env.SITE_DOMAIN_FULL %>/images/photos/<%= photos[i].name %>.jpg"
                   itemprop="contentUrl" data-size="<%= photos[i].size %>">
                    <img src="<%= process.env.SITE_DOMAIN_FULL %>/images/photos/<%= photos[i].name %>_thumb.jpg"
                         alt="<%= photos[i].subtitle %>"
                         itemprop="thumb" class="justAdded"/>
                </a>
                <figcaption itemprop="<%= photos[i].subtitle %>"><%= photos[i].title %></figcaption>
            </figure>
            <% } %>
        </div>
        <!-- /Row -->

        <!-- Load more button -->
        <div class="load-more">
            <% var nextClass = "nextPage" %>
            <% for (var i = ++currPage; i <= totalPages; i++) { %>
            <a href="/albums/<%= album.name %>?page=<%= i %>" class="<%= nextClass %>"></a>
            <% nextClass = ""; %>
            <% } %>
        </div>

        <!-- /Load more button -->

        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>
            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <!--  Controls are self-explanatory. Order can be changed. -->
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Root element of PhotoSwipe. Must have class pswp. -->

        <!-- Back to top button -->
        <a href="#" class="back-top btn">
            <i class="fa fa-angle-up fa-2x"></i>
        </a>
        <!-- /Back to top button -->

        <!-- Footer -->
        <%- include ./common/footer.ejs %>

    </div>
    <!-- /Content -->

</main>
<!-- /Container -->

<!-- JS -->
<%- include ./common/javascript.ejs %>
<!-- Plugins -->
<!--<script type="text/javascript" src="/js/jquery.fullPage.min.js"></script>-->
<script type="text/javascript" src="/js/imagesloaded.min.js"></script>
<script type="text/javascript" src="/js/masonry.​min.js"></script>
<script type="text/javascript" src="/js/jquery-ias.min.js"></script>
<script type="text/javascript" src="/js/website-smooth-scroll.min.js"></script>
<script type="text/javascript" src="/js/photoswipe.min.js"></script>
<script type="text/javascript" src="/js/photoswipe-ui-default.min.js"></script>
<!-- Main js -->
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>