<!DOCTYPE html>
<html>

<head>
    <!--SEO-->
    <meta name="description"
          content="Bogdan Alexandrov Photography albums - Paris, black and white photos, cityscapes, animals ..."/>
    <%- include common/head_commons.ejs %>
    <!--Plugins-->
    <link rel="stylesheet" href="/css/photoswipe.min.css">
    <link rel="stylesheet" href="/css/default-skin/default-skin.css">

</head>

<body>
<!-- Container -->
<main class="container">

    <!-- Mobile Menu -->
    <%- include ./common/mobileMenu.ejs %>
    <!-- /Mobile Menu -->
    <!-- Header -->
    <header class="transition header">
        <div class="parallax gallery-header">
            <div class="darker"></div>
        </div>
        <!-- Main menu -->
        <%- include ./common/menu.ejs %>
        <!-- /Main menu -->
        <div class="item-category">
            <h1>gallery</h1>
            <p>My best photo albums</p>
            <div class="border">
                <div></div>
            </div>
        </div>
    </header>
    <!-- /Header -->
    <!--Content-->
    <div class="content">
        <!-- Row-->
        <div class="masonry row">
            <!-- Grid Item-->
            <% for (var i = 0; i < albums.length; i++) { %>
            <div class="grid-item col-md-6 col-sm-6 col-xs-12">
                <a href="<%= process.env.SITE_DOMAIN %>/albums/<%= albums[i].name %>">
                    <div class="hovereffect">
                        <img src="<%= process.env.SITE_DOMAIN %>/images/photos/<%= albums[i].selectedImg %>_thumb.jpg"
                             class="justAdded" alt="<%= albums[i].subtitle %>"
                        />
                        <div class="overlay">
                            <h2><%= albums[i].title %></h2>
                            <p><%= albums[i].subtitle %></p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>

            <!-- /Grid Item-->
        </div>
        <!-- /Row -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>
            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
                <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <!--  Controls are self-explanatory. Order can be changed. -->
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Root element of PhotoSwipe. Must have class pswp. -->

        <!-- Back to top button -->
        <a href="#" class="back-top btn"> <i class="fa fa-angle-up fa-2x"></i> </a>
        <!-- /Back to top button -->

        <!-- Footer -->
        <%- include ./common/footer.ejs %>

    </div>
    <!-- /Content -->
</main>
<!-- /Container -->

<!-- JS -->
<%- include ./common/javascript.ejs %>
<!-- Plugins-->
<script type="text/javascript" src="/js/imagesloaded.min.js"></script>
<script type="text/javascript" src="/js/masonry.​min.js"></script>
<script type="text/javascript" src="/js/jquery-ias.min.js"></script>
<script type="text/javascript" src="/js/website-smooth-scroll.min.js"></script>
<!-- Main js -->
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>