<!DOCTYPE html>
<html>
<head>
    <%- include common/head_commons.ejs %>
</head>
<body>

<!-- Container -->
<main class="container">

    <!-- Mobile Menu -->
    <%- include ./common/mobileMenu.ejs %>
    <!-- /Mobile Menu -->

    <!-- Header -->
    <header class="transition header">
        <div class="parallax contactMeHeader">
            <div class="darker"></div>
        </div>
        <!-- Main menu -->
        <%- include ./common/menu.ejs %>
        <!-- /Main menu -->
        <div class="item-category">
            <h1>contact</h1>
            <p>Feel free to contact me if you have any question, even just drop me a line to say hello</p>
            <div class="border">
                <div></div>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!--Content-->
    <div class="content">

        <!-- Row-->
        <div class="row">
            <div class="contact-info col-sm-12">
                <div class="col-sm-0 col-md-3"></div>
                <div class="col-sm-6 col-md-3">
                    <h3>YOU WILL FIND ME in</h3>
                    <address>
                        <p>Paris, France / Sofia, Bulgaria</p>
                    </address>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="email">
                        <h3>Write me an email</h3>
                        <p><%= process.env.EMAIL_USER %></p>
                    </div>
                </div>
                <div class="col-sm-0 col-md-3"></div>
            </div>

            <!-- Contact us form -->
            <div class="contact_form col-sm-12">
                <div class="col-sm-12">
                    <h3>send me a message</h3>
                    <p>You are incredibly important to me. It would be nice to get to know you.</p>
                </div>
                <form id="validForm">
                    <div class="form-group control-group col-sm-6">
                        <span><i class="fa fa-user"></i></span>
                        <input class="form-control" type="text" name="name" minlength="2" placeholder="Name *">
                    </div>
                    <div class="form-group control-group col-sm-6">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input class="form-control" type="email" name="email" placeholder="Email Address *">
                    </div>
                    <div class="form-group control-group col-sm-12">
                        <span><i class="fa fa-pencil"></i></span>
                        <textarea class="form-control" type="text" name="message" placeholder="Message *"></textarea>
                    </div>
                    <div class="form-button col-xs-12">
                        <button type="submit" name="enter" class="btn center-block">
                            send <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- /Contact us form -->
        </div>
        <!-- /Row -->

        <!-- Footer -->
        <%- include ./common/footer.ejs %>

    </div>
    <!-- /Content -->

</main>
<!-- /Container -->

<!-- JS -->
<%- include ./common/javascript.ejs %>

<!-- Plugins -->
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/website-smooth-scroll.min.js"></script>

<!-- Main js -->
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>