<!DOCTYPE html>
<html>
<head>

    <%- include common/head_commons.ejs %>

    <!--SEO-->
    <link rel="canonical" href="<%= process.env.SITE_DOMAIN %>/"/>
    <meta name="description" content="Welcome to my Bogdan Alexandrov Photography. In my albums you will find Paris, black and white photos, cityscapes, animals ..."/>

    <!--Facebook OG tags-->
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:type" content="website"/> <!--todo changeit for other pages -->
    <meta property="og:url" content="<%= process.env.SITE_DOMAIN %>"/> <!--todo: parametrize it-->
    <meta property="og:image" content="<%= process.env.SITE_DOMAIN %>/images/home/home1.jpg"/>
    <!--todo change it according to the page-->
    <meta property="og:description" content="Welcome to my World of photography !">

    <!--Twitter OG tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="Welcome to my World of photography !">
    <meta name="twitter:image" content="https://bogi-photo.herokuapp.com/images/home/home1.jpg">
    <!--todo change it according to the page-->

</head>
<body>

<!-- Container -->
<main class="container">

    <!-- Mobile Menu -->
    <%- include ./common/mobileMenu.ejs %>
    <!-- /Mobile Menu -->

    <!-- Header -->
    <header class="transition header fixed">
        <!-- Menu -->
        <%- include ./common/menu.ejs %>
        <!-- /Menu -->
        </div>
    </header>
    <!-- /Header -->

    <!-- Content -->
    <section class="content fullpage transition">

        <!-- Section One -->
        <section class="section" id="section1">
            <div class="darker"></div>
            <div class="border">
                <div class="frames">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="corners">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="cover-titles">
                <div class="align-left">
                    <p>le photographe</p>
                    <h1 class="title">Bogdan Alexandrov <br/> Photography</h1>
                    <p>Welcome to my World of Photography</p>
                    <a href="/albums" class="btn">
                        <span>Browse</span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- /Section One -->

        <!-- Section Two -->
        <section class="section" id="section2">
            <div class="darker"></div>
            <div class="border">
                <div class="frames">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="corners">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="cover-titles">
                <div class="align-left">
                    <p>amazing</p>
                    <h1 class="title">animals</h1>
                    <p></p>
                    <a href="/albums/animals" class="btn">
                        <span>Take a look</span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- /Section Two -->

        <!-- Section Three -->
        <section class="section" id="section3">
            <div class="darker"></div>
            <div class="border">
                <div class="frames">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="corners">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="cover-titles">
                <div class="align-left">
                    <p>awesome</p>
                    <h1 class="title">crystal ball</h1>
                    <p>Let's walk around with my crystal ball.</p>
                    <a href="/albums/crystal-ball" class="btn">
                        <span>Take a look</span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- /Section Three -->

        <!-- Section Four -->
        <section class="section" id="section4">
            <div class="darker"></div>
            <div class="border">
                <div class="frames">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="corners">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="cover-titles">
                <div class="align-left">
                    <p>wonderful</p>
                    <h1 class="title">city of paris</h1>
                    <p>The most beautiful city in the world !</p>
                    <a href="/albums/paris" class="btn">
                        <span>Take a look</span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- /Section Four -->

    </section>
    <!-- /Content -->

    <!-- Footer -->
    <footer id="footer" class="fixed white">
        <p>&copy; Bogdan Alexandrov 2017. All rights reserved.</p>
    </footer>
    <!-- /Footer -->

</main>
<!-- /Container -->

<!-- JS -->
<%- include ./common/javascript.ejs %>

</body>
</html>